/* {border:1px solid red}
/* Page style */
body {
    background-color: #292759;
}
button {
    padding: auto;
    margin: auto;
    background-color: #591E2E;
    font-family: Garamond;
    font-size: 21px;
    color: #F2D0C4;
    align-items: center;
    justify-content: center;
}

/* Header */
.inline-block {
    display: flex;
    align-items: center;
    font-family: Garamond;
    color: #F2D0C4;
    justify-content: space-between;
}

.tab {
    padding-right: 2%;
}

.tab th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.nav img {
    width:71px;
    height: 71px;
}

.homepage {
    border-bottom: 1pt solid #F2D0C4;
}

/* Section about summary */
.herolmg {
    height: 600px;
}

.herocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 90%;
    background-color: #445CA6;
    margin: 0 auto;
    color: #F2D0C4;
}

#profile{
    height: 350px;
    width: 250px;
    padding: 30px;
}
.herocontainer p {
    width: 75%;
    padding: 40px;
}

.herocontainer h2 {
    padding: 30px;
}

.herolmg button {
    float: right !important;
    margin: 10px;
}
/* Section my Skills*/ 

.title { 
    color: #F2D0C4;
    padding: 20px; 
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445CA6;
    color: #F2D0C4;
    margin: 0 auto;
    width: 1370px;
}

#research {
    height: 30px;
    width: 35px;
}

#interview {
    height: 40px;
    width: 40px;
}

#empathy {
    height: 40px;
    width: 40px;
}

.flexContainer div {
    padding: 12px;
}

.flexContainer p {
    font-size: 10pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexContainer div img {
    padding-left: 38%;
}

.flexContainer title { 
    width: 3000%;
}

/* Section My Work */
.workGrid{
    display: grid;
    color: #F2D0C4;
    background-color: #445ca6;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 10px;
    padding: 0 auto;
    padding-left: 30px;    
    width: 1370px;
    grid-template-columns: 33% 66%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "yum_logo yum_content"
    "imagine_logo imagine_content"
    "safe_logo safe_content";
}

#yum_logo{
    grid-area: yum_logo;
}

#yum_logo img {
    height: 175px;
    width: 185px;
    padding-left: 60px;
}

#yum_content{
    grid-area: yum_content;
    width: 500px;
}

#imagine_logo{
    grid-area: imagine_logo;
}

#imagine_logo img {
    height: 175px;
    padding-left: 75px;
}

#imagine_content{
    grid-area: imagine_content;
    width: 500px;
}

#safe_logo{
    grid-area: safe_logo;
}

#safe_logo img{
    height: 175px;
    padding-left: 60px;
}

#safe_content{
    grid-area: safe_content;
    width: 500px;
}

.myWork button {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer */
.footerGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px;
    grid-template-areas: 
    "LinkedIn Instagram Mail";
}

#LinkedIn {
    grid-area: LinkedIn;
    background-image: url("../images/linkedin1.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    padding: 25px;
}

#Instagram {
    grid-area: Instagram;
    background-image: url("../images/instagram1.PNG");
    background-size: 95%;
    background-repeat: no-repeat;
    padding: 30px;
}

#Mail {
    grid-area: Mail;
    background-image: url("../images/mail1.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}

.top {
    margin:10px;
    margin-left: 45%;
}

.footerGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}
